.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5em;
  width: 100%;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

.footer-row p {
  margin: 0;
  color: rgba(0, 8, 27, .6);
}

.logo-fd-and-link-to-gov {
  align-items: flex-start;
  max-width: var(--max-content-width);
}

.link-to-finance-d {
  margin: 0 4em 1em 0;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.link-to-finance-d:hover {
  text-decoration: underline;
}

.link-to-finance-d img {
  width: 1.2em;
  height: 1.2em;
  margin-right: 3px;
  margin-bottom: 2px;
}

.footer-text-container {
  flex-direction: column;
  max-width: var(--max-content-width);
  margin: 4em;
}

.footer-text-container h2 {
  width: 100%;
  text-align: left;
  font-variant: small-caps;
  margin: 0;
}

.copyright-and-social-links {
  border-top: 1px solid #f1f1f1;
  flex-wrap: wrap;
  row-gap: 1em;
  padding-top: 1em;
}

.footer-copyright {
  font-size: 0.8em;
}

.footer-copyright a:hover {
  text-decoration: underline;
}


.footer .social-links a {
  margin: 0 12px;
}

@media screen and (max-width: 475px) {
  .footer-row {
    flex-direction: column;
  }

  .footer-copyright {
    margin-top: 1em;
  }
}
