:root {
  --background: #fff;
  --main-text-color: #000;
  --blue: #006ab3;
  --vertical-spacing: 2.5vh;
  --horizontal-spacing: 2vw;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: calc(100% + .25vw);
  color: var(--main-text-color);;
}

body {
  height: 100vh;
  background: var(--background);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: auto;
}

/*app root div*/
#__next {
  position: relative;
  min-height: 100vh;
}

.page-container {
  overflow-x: hidden;
  animation: fadeIn ease 1.3s;
  -webkit-animation: fadeIn ease 1.3s;
  padding: var(--vertical-spacing) var(--horizontal-spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
}


* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Georgia", "Arial", sans-serif;
}

h1 {
  font-size: 1.68em;
  letter-spacing: -.05em;
}

h2 {
  font-weight: 300;
  font-size: 1.2em;
}

p,
select,
input {
  color: var(--main-text-color);
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: #000;
}

.text-link::after {
  content: " \2192"; /*right arrow html entity*/
}

.text-link:hover,
.text-link:focus {
  text-decoration: underline;
}

.no-wrap {
  white-space: nowrap;
}

::selection {
  color: var(--background);
  background-color: var(--main-text-color);
}

.no-select {
  user-select: none;
}




@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
