:root {
  --background: #fff;
  --main-text-color: #000;
  --blue: #006ab3;
  --vertical-spacing: 2.5vh;
  --horizontal-spacing: 2vw;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: calc(100% + .25vw);
  color: var(--main-text-color);;
}

body {
  height: 100vh;
  background: var(--background);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: auto;
}

/*app root div*/
#__next {
  position: relative;
  min-height: 100vh;
}

.page-container {
  overflow-x: hidden;
  animation: fadeIn ease 1.3s;
  -webkit-animation: fadeIn ease 1.3s;
  padding: var(--vertical-spacing) var(--horizontal-spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
}


* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Georgia", "Arial", sans-serif;
}

h1 {
  font-size: 1.68em;
  letter-spacing: -.05em;
}

h2 {
  font-weight: 300;
  font-size: 1.2em;
}

p,
select,
input {
  color: var(--main-text-color);
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: #000;
}

.text-link::after {
  content: " \2192"; /*right arrow html entity*/
}

.text-link:hover,
.text-link:focus {
  text-decoration: underline;
}

.no-wrap {
  white-space: nowrap;
}

::selection {
  color: var(--background);
  background-color: var(--main-text-color);
}

.no-select {
  user-select: none;
}

.results-grid.hidden {
  display: none;
}

.results-grid:not(.hidden) {
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 4px #dedede;
  font-size: 16px;
  /*margin-bottom: 3em;*/
}

.results-grid--header,
.results-grid--row {
  display: flex;
  justify-content: space-between;
}

.results-grid--header span,
.results-grid--row span {
  padding: 4px 8px;
}

.results-grid--header span {
  background-color: #f5f5f5;
  color: var(--blue);
  font-weight: bold;
}

.results-grid--row {
  border-bottom: 1px dashed #e0e0e0;
  background-color: #fdfdfd;
}

.results-grid .montant,
.results-grid .total {
  width: 15%;
}

.results-grid .tps,
.results-grid .tvq {
  width: 12.5%;
}

.results-grid .province {
  width: 28%;
}

.results-grid .tauxFed,
.results-grid .tauxQc {
  width: 8%;
}

.results-grid .deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  width: 2%;
  padding-left: 2px;
  padding-right: 2px;
}

.results-grid .results-grid--row .deleteBtn:hover {
  cursor: pointer;
}

.results-grid .deleteBtn svg {
  width: auto;
  height: 1em;
  pointer-events: none;
  fill: #959595;
}

.results-grid .deleteBtn:hover svg {
  fill: #000;
}

.results-grid--row:hover {
  background-color: #fff;
}

.results-grid--row:hover svg {
  fill: var(--blue);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 650px) {
  .results-grid .tauxFed,
  .results-grid .tauxQc {
    display: none;
  }

  .results-grid .montant,
  .results-grid .total {
    width: 30%;
  }

  .results-grid .tps,
  .results-grid .tvq {
    width: 22%;
  }
}

@media screen and (max-width: 500px) {
  .results-grid .province {
    display: none;
  }

  .results-grid .montant,
  .results-grid .total {
    width: 29%;
  }

  .results-grid .tps,
  .results-grid .tvq {
    width: 21%;
  }
}

@media screen and (max-width: 500px) {
  .results-grid {
    font-size: 14px;
  }
}

@media screen and (max-width: 345px) {
  .results-grid {
    font-size: 12px;
  }

  .results-grid .montant,
  .results-grid .total {
    width: 28%;
  }

  .results-grid .tps,
  .results-grid .tvq {
    width: 22%;
  }
}