:root {
  --background: #fff;
  --main-text-color: #000;
  --blue: #005fa4;
  --vertical-spacing: 2.5vh;
  --horizontal-spacing: 2vw;
  --main-box-shadow: 1px 2px 8px rgba(0, 8, 27, 0.8);
  --max-content-width: 1080px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: calc(100% + 0.23vw);
  color: var(--main-text-color);;
}

body {
  background: var(--background);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  overflow-y: auto;
}

/*app root div*/
#__next {
  position: relative;
  min-height: 100vh;
}

.page-container {
  overflow-x: hidden;
  animation: fadeIn ease 0.3s;
  -webkit-animation: fadeIn ease 0.3s;
  padding: var(--vertical-spacing) var(--horizontal-spacing);
  display: flex;
  flex-direction: column;
  align-items: center;
}


* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: "Georgia", "Arial", sans-serif;
}

h1 {
  font-size: 1.68em;
  letter-spacing: -.05em;
}

h2 {
  font-weight: 300;
  font-size: 1.2em;
}

p,
select,
input {
  color: var(--main-text-color);
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: #000;
}

.text-link::after {
  content: " \2192"; /*right arrow html entity*/
}

.text-link:hover,
.text-link:focus {
  text-decoration: underline;
}

.no-wrap {
  white-space: nowrap;
}

.no-select {
  user-select: none;
}

::selection {
  color: var(--background);
  background-color: var(--main-text-color);
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media print {
  * {
    color: black !important;
  }

  .page-container {
    margin: 0 !important;
    padding: 0 !important;
  }

  .calculator, .export-btns, .footer, .deleteBtn {
    display: none !important;
  }

  .results-table {
    font-size: 14px !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-top: 2em !important;
  }

  .results-table:before {
    content: "Généré avec la calculatrice de taxes Finance D en-ligne | https://taxes.finance-d.com";
  }

  .results-table--header th {
    background-color: black !important;
    color: white !important;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .results-table--row td {
    border-bottom-color: #222 !important;
    background-color: white !important;
    height: unset !important;
  }

  .results-table--row th,
  .results-table--row td {
    text-rendering: optimizeLegibility !important;
  }

  .results-table .montant,
  .results-table .total {
    width: 18.5% !important;
  }
  .results-table .tps,
  .results-table .tvq {
    width: 12.5% !important;
  }
  .results-table .province {
    width: 38% !important;
  }
}
