.results-grid {
  font-size: 16px;
  margin-top: 1em;
  box-shadow: var(--main-box-shadow);
}

.results-grid.hidden {
  display: none;
}

.results-grid:not(.hidden) {
  display: flex;
  flex-direction: column;
}

.results-grid--header,
.results-grid--row {
  display: flex;
  justify-content: space-between;
}

.results-grid--header span,
.results-grid--row span {
  padding: 4px 8px;
}

.results-grid--header span {
  background-color: #f5f5f5;
  color: var(--blue);
  font-weight: bold;
}

.results-grid--row {
  border-bottom: 1px dashed #e0e0e0;
  background-color: #fdfdfd;
}

.results-grid .montant,
.results-grid .total {
  width: 15%;
}

.results-grid .tps,
.results-grid .tvq {
  width: 12.5%;
}

.results-grid .province {
  width: 28%;
}

.results-grid .tauxFed,
.results-grid .tauxQc {
  width: 8%;
}

.results-grid .deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  width: 2%;
  padding-left: 2px;
  padding-right: 2px;
}

.results-grid .results-grid--row .deleteBtn:hover {
  cursor: pointer;
}

.results-grid .deleteBtn svg {
  width: auto;
  height: 1em;
  pointer-events: none;
  fill: #959595;
}

.results-grid .deleteBtn:hover svg {
  fill: #000;
}

.results-grid--row:hover {
  background-color: #fff;
}

.results-grid--row:hover svg {
  fill: var(--blue);
}

@media screen and (max-width: 650px) {
  .results-grid .tauxFed,
  .results-grid .tauxQc {
    display: none;
  }

  .results-grid .montant,
  .results-grid .total {
    width: 30%;
  }

  .results-grid .tps,
  .results-grid .tvq {
    width: 22%;
  }
}

@media screen and (max-width: 500px) {
  .results-grid .province {
    display: none;
  }

  .results-grid .montant,
  .results-grid .total {
    width: 29%;
  }

  .results-grid .tps,
  .results-grid .tvq {
    width: 21%;
  }
}

@media screen and (max-width: 500px) {
  .results-grid {
    font-size: 14px;
    margin-bottom: 5em;
  }
}

@media screen and (max-width: 370px) {
  .results-grid {
    font-size: 12px;
  }

  .results-grid .montant,
  .results-grid .total {
    width: 28%;
  }

  .results-grid .tps,
  .results-grid .tvq {
    width: 22%;
  }
}