.results-table {
  font-size: 14px;
  margin-top: 2em;
  margin-bottom: 4em;
  width: 100%;
  max-width: var(--max-content-width);
  overflow-x: auto;
  font-family: monospace;
}

.results-table.hidden {
  display: none;
}

.results-table:not(.hidden) {
  display: flex;
  flex-direction: column;
}

.results-table--header {
  text-align: left;
}

.results-table--header th,
.results-table--row td {
  padding: 4px 8px;
}

.results-table--header tr:first-of-type {
  background-color: var(--background);
  color: var(--main-text-color);
}

.results-table--header tr:last-of-type {
  color: #fff;
  background-color: var(--blue);

}

.results-table--row td {
  border-bottom: 1px dashed #e5e5e5;
  background-color: #fdfdfd;
  height: 4.2em;
}

.results-table .montant,
.results-table .total {
  width: 18%;
}

.results-table .tps,
.results-table .tvq {
  width: 15%;
}

.results-table .province {
  width: 35%;
}

.results-table .deleteBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  width: 2%;
  padding-left: 2px;
  padding-right: 2px;
}

.results-table .results-table--row .deleteBtn:hover {
  cursor: pointer;
}

.results-table .results-table--row .deleteBtn svg {
  width: auto;
  height: 1em;
  pointer-events: none;
  fill: #959595;
}

.results-table .results-table--row .deleteBtn:hover svg {
  fill: #000;
}

.results-table--row:hover td {
  background-color: #fff;
}

.results-table--row:hover .deleteBtn svg {
  fill: var(--blue);
}

.export-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: var(--max-content-width);
  margin-top: 0.5em;
}

.export-btns button {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-right: 20px;
}

.export-btns svg {
  height: 20px;
  margin-left: 8px;
  pointer-events: none;
}

@media screen and (max-width: 1000px) {
  .results-table {
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
  .results-table {
    font-size: 13px;
  }
}

@media screen and (max-width: 695px) {
  .results-table .montant,
  .results-table .total {
    width: 18%;
  }

  .results-table .tps,
  .results-table .tvq {
    width: 12.5%;
  }

  .results-table .province {
    width: 50%;
  }

  .results-table {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .results-table .province {
    display: none;
  }

  .results-table .montant,
  .results-table .total {
    width: 29%;
  }

  .results-table .tps,
  .results-table .tvq {
    width: 21%;
  }
}

@media screen and (max-width: 500px) {
  .results-table {
    margin-bottom: 4em;
  }
}

@media screen and (max-width: 370px) {
  .results-table {
    font-size: 11px;
  }

  .results-table .montant,
  .results-table .total {
    width: 28%;
  }

  .results-table .tps,
  .results-table .tvq {
    width: 22%;
  }
}