.calculator {
  position: relative;
  width: 100%;
  max-width: 1100px;
}

.calculator h1 {
  color: var(--blue);
  margin: 0 0 calc(var(--vertical-spacing) * 2) 0;
}

.card {
  padding: 30px 50px;
  box-shadow: 1px 2px 8px rgba(0, 8, 27, 0.45);
}

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  user-select: none;
}


.field label {
  min-width: 40%;
  opacity: 0.7;
}

.field label h2 {
  margin: 0;
}

.field select,
.field input {
  font-weight: 700;
  font-size: 1.4em;
  padding: 0.5em 0.75em;
  margin: 0;
  max-width: 55%;
  width: 55%;
}

.field input {
  border: 4px solid var(--blue);
}

.field input:focus,
.field select:focus {
  outline: 4px solid var(--blue);
}


.field input[type="checkbox"] {
  width: calc(1em + 0.75em);
  height: calc(1em + 0.75em);
}

.field input[readonly] {
  color: var(--main-text-color);
  background: none;
  border: none;
}

.field input[readonly]:focus {
  outline: none;
}

.field.taxeIn {
  margin-top: calc(var(--vertical-spacing) * 3);
  margin-bottom: var(--vertical-spacing);
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #9f9f9f;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #f9f9f9;
  font: 700 18px/1 'Arial', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.25);
  text-transform: uppercase;
  text-align: center;
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
  right: 0;
}
.ribbon-top-left::after {
  bottom: 0;
  left: 0;
}
.ribbon-top-left span {
  right: -25px;
  top: 30px;
  transform: rotate(-45deg);
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

/* bottom left*/
.ribbon-bottom-left {
  bottom: -10px;
  left: -10px;
}
.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.ribbon-bottom-left::before {
  bottom: 0;
  right: 0;
}
.ribbon-bottom-left::after {
  top: 0;
  left: 0;
}
.ribbon-bottom-left span {
  right: -25px;
  bottom: 30px;
  transform: rotate(225deg);
}

/* bottom right*/
.ribbon-bottom-right {
  bottom: -10px;
  right: -10px;
}
.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}
.ribbon-bottom-right::before {
  bottom: 0;
  left: 0;
}
.ribbon-bottom-right::after {
  top: 0;
  right: 0;
}
.ribbon-bottom-right span {
  left: -25px;
  bottom: 30px;
  transform: rotate(-225deg);
}

@media screen and (max-width: 1024px) {
  .card {
    padding: 0;
    box-shadow: none;
    margin-bottom: 2em;
  }

  .ribbon {
    display: none;
  }

  .field input[type="text"],
  .field select {
    min-width: 250px;
  }
}

@media screen and (max-width: 746px) {
  .field select {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 463px) {
  .field {
    margin-bottom: var(--vertical-spacing);
  }

  .field input {
    margin: 1px;
  }

  .field input[type="text"]:not(:read-only),
  .field select {
    width: 100%;
    max-width: 100%;
  }

  .field input:read-only {
    min-width: 250px;
    padding: 0;
  }

  .field label {
    min-width: 195px;
  }

}
